<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>500</title>
</head>
<body>
    <h1>500 - Internal Server Error</h1>
    <br>
    <div class="centralizar">
    <h2>Você pode:</h2>
      <ol>
        <li>Atualizar a página</li>
        <li>Limpar o cache e cookies do navegador</li>
        <li>Usar outro navegador ou dispositivo</li>
        <li>Esperar e tentar novamente mais tarde</li>
        <li>Contatar o suporte</li>
      </ol>
    </div>
    
    <div class="centralizar">
        <img src="https://as2.ftcdn.net/v2/jpg/05/61/17/67/1000_F_561176709_XzLXI3y8G4Z0JEQK4vV7mDGzUsexFhOw.jpg">
        <br>Esse é o servidor do site, ao vivo
        <br><br>
        <p class="paragraph">Clique <a href="/">aqui</a> para voltar ao menu inicial.</p>
    </div>
  </div>
</body>
</html>
