<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>401</title>
</head>
<body>
  <div class="centralizar">
    <h1>401 - Não autorizado</h1>
    <img src="https://media.gettyimages.com/id/182798015/photo/stop-please.jpg?s=612x612&w=gi&k=20&c=0L1QtG4gFFOa7xpbKVraU6mBXxgN8iCV88rU7VenKUg=">
    <p class="paragraph">Clique <a href="/">aqui</a> para voltar ao menu inicial.</p>
  </div>
</body>
</html>