<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>403</title>
</head>
<body>
  <div class="centralizar">
    <h1>403 - Proibido!!!</h1>
    <p class="paragraph">Você <b>não</b> tem o nível de autenticação necessário para acessar esta página.</p>
    <br>
    <img src="https://imgs.search.brave.com/-PikPMLoDqWx2Y4J2995zFlJPey5fjVbk8LZHvrqI2s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly81MmY0/ZTI5YTgzMjEzNDRl/MzBhZS0wZjU1Yzkx/Mjk5NzJhYzg1ZDZi/MWY0ZTcwMzQ2OGU2/Yi5zc2wuY2YyLnJh/Y2tjZG4uY29tL3By/b2R1Y3RzL3BpY3R1/cmVzLzEwOTAxMTku/anBn">
    <p class="paragraph">Clique <a href="/">aqui</a> para voltar ao menu inicial.</p>
  </div>
  <div class="tenor-gif-embed" data-postid="22403643" data-share-method="host" data-aspect-ratio="1.48837" data-width="100%"><a href="https://tenor.com/view/yugi-kaiba-exodia-first-duel-nani-gif-22403643">Yugi Kaiba GIF</a>from <a href="https://tenor.com/search/yugi-gifs">Yugi GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</body>
</html>
