<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500</title>
</head>
<body>
  <h1>500 - Internal Server Error</h1>
  <br>
  Você pode:
  <ol>
    <li>Atualizar a página</li>
    <li>Limpar o cache e cookies do navegador</li>
    <li>Usar outro navegador ou dispositivo</li>
    <li>Esperar e tentar novamente mais tarde</li>
    <li>Contatar o suporte</li>
  </ol>
  <img src="https://as2.ftcdn.net/v2/jpg/05/61/17/67/1000_F_561176709_XzLXI3y8G4Z0JEQK4vV7mDGzUsexFhOw.jpg">
  Esse é o servidor do site, ao vivo
</body>
</html>
