<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <form action="/cadastrar" method="post" id="cadastro" name="cadastro">
        <label>Login</label>
        <input type="text" name="login" id="login" placeholder="Crie o seu login" required>
        <label>Senha</label>
        <input type="text" name="senha" id="senha" placeholder="Cria a sua senha" required>
        <label>Confirmacao</label>
        <input type="text" name="confirmacao" id="confirmacao" placeholder="Repita a senha" required>
        <button type="submit" class="botao-enviar">Enviar</button>
</body>
</html>
